mat-form-field {
    width: 100%;
}
.btn1 , .btn2 {
    margin-left:8px;
     border-color: transparent;
      padding:5px 10px ; 
      color:white ;
      border-radius: 5px;
} 
.btn1 {
    background-color: rgb(161, 18, 18);
}
.btn2 {
    background-color: #0298cf;
}